apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: valhalla

bases:
- ../../base

commonLabels:
  environment: prod

images:
- name: valhalla-api
  newName: <AWS_ACCOUNT_ID>.dkr.ecr.us-east-1.amazonaws.com/valhalla-prod-valhalla-api
  newTag: v1.0.0

replicas:
- name: valhalla-api
  count: 6

patchesStrategicMerge:
- deployment-patch.yaml
- ingress-patch.yaml
- hpa-patch.yaml
