apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: valhalla

resources:
- namespace.yaml
- serviceaccount.yaml
- configmap.yaml
- pvc.yaml
- deployment.yaml
- service.yaml
- ingress.yaml
- hpa.yaml
- pdb.yaml

commonLabels:
  app.kubernetes.io/name: valhalla-api
  app.kubernetes.io/component: api
  app.kubernetes.io/managed-by: kustomize
