apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: valhalla-data
  namespace: valhalla
  labels:
    app: valhalla-api
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp2
  resources:
    requests:
      storage: 50Gi
