apiVersion: apps/v1
kind: Deployment
metadata:
  name: valhalla-api
spec:
  template:
    spec:
      containers:
      - name: valhalla
        resources:
          requests:
            cpu: 250m
            memory: 512Mi
          limits:
            cpu: 1000m
            memory: 2Gi
